/* Teleology theme by Denis Polevoi http://teleology.ru Version 0.3 Need further improvements. */

a {font-weight: normal; text-decoration: none;} a:link {color: #007000;} a:visited {color: #007000;} a:hover {color: #99ff33;}
body {background: #fff; color: #444; /* font-family: system, Tahoma, sans-serif; */ font-size: 100%;}
h1, h2, h3, h4, h5, h6 {margin: 0; font-size: 1em;}
table {font-size: 1em;}

#container {margin: 0.2em auto; width: 98%;}

#top {background: #f3f3f3; border: 1px solid #ddd; margin: 0 23% 1% 23%;}
#logo img {margin: .2em auto 0em 1em; vertical-align: bottom;}
.site-name {font-size: 1.8em; vertical-align: bottom;}
.site-slogan {font-size: .8em; padding: 0em/*верх*/ 0em/*право*/ 0em/*низ*/ 1em/*лево*/;}
#navigation {background: #f3f3f3 url(images/menu-bg.png) center repeat-x; /*border-top: 1px solid #ddd;*/; font-size: 1em; text-align: center;}
/*
#primary {border: 0;  color: #ddd; font-size: 1.2em; padding: 0em 0.4em 0em 0.4em;} #primary a {color: #007000;} #primary a:link {color: #007000;} #primary a:visited {color: #007000;} #primary a:hover {color: #99ff33;}
#secondary {border: 0;  color: #ddd; font-size: 1.2em; padding: 0em 0.4em 0em 0.4em;} #secondary a {color: #007000;} #secondary a:link {color: #007000;} #secondary a:visited {color: #007000;} #secondary a:hover {color: #99ff33;}
*/
#search {background: #f3f3f3 url(images/menu-bg.png) center repeat; padding-right: .4em; text-align: right;}
#search .form-text {border-width: 1px; font-size: .6em;}
#search .form-submit {border-width: 1px; font-size: .6em;}

#leftnav {float: left; width: 19%; margin: 0 auto auto 3%;}
#rightnav {float: right;  width: 19%; margin: 0 3% auto auto;}
#leftnav .block, #rightnav .block {background: #f3f3f3; border: 1px solid #ddd; font-size: 0.8em; margin: 0% 0 6% 0;}

#content {background: #f3f3f3; border: 1px solid #ddd; font-size: .8em; margin: 0em 23% 0 23%; padding: 1em; text-align: justify;}
#header .block {border: 1px solid #ddd; font-size: 1em;}
#header .content {font-size: 1em;}
.content-title {font-size: 1em; font-weight: bold;}
.node {/* border: 1px solid #ddd; */ font-size: 1em; margin: 0em;}
.breadcrumb {font-size: 1em; padding: 0 0 .2em 0;}

/* forms */
.form-item {font-size: 1em;}
/* .form-item label { color: #000;} */
fieldset {border: 1px solid #ddd;}
input, textarea, select {border: 1px silver inset;}
input[type="submit"] {border: 1px #ddd outset; background-color: #f3f3f3;}
input[type="text"], textarea, input.form-password {padding: 1px;}

.node h2 {/* background: #f3f3f3; */ color: #f7f7f7; font-size: 1em; padding: 0 0 1em 0;}
.node .content, .node .info {background: #f3f3f3;  font-size: 1em;}
.node .picture {border: 1px solid #ddd; float: right; margin: 0.5em;}
.node.item-listing {padding: 1em; border-top: 1px solid #ff0000;}
.node.item-listing.sticky {background-image: none;}
.node table ul {margin: 0; padding: 1em;}
.node.sticky .title {background-image: none;}
.node .title {border-bottom: 1px solid #ff0000;}

.messages {background: #eee; margin: 0em;}
.clear.links {font-size: 1em; padding: 0em;}
br.clear {clear: both;}

.block {margin-bottom: 1em; background: #f7f7f7;}
.block h2 {background: #f3f3f3 url(images/menu-bg.png) center repeat; color: #444; font-size: 1em; font-weight: normal; height: auto; padding: .2em;}
.block .content {font-size: 1em; padding-left: 0.2em;}

.box {/*border: 1px solid #ddd;*/ font-size: 1em; padding: 0em/*верх*/ 0em/*право*/ 2em/*низ*/ 1em/*лево*/; text-align: left;}
.box .title {font-size: 1em;}

.quote-author {font-style: normal; font-weight: normal;}
.quote-msg {/* border: 1px solid #ddd; */ background-color: #fefefe; font-style: italic; padding: 0em .2em 0 .2em;}

#footer {background: #f3f3f3; border: 1px solid #ddd; color: #aaa; font-size: 0.64em; padding-top: .2em; margin: 1% 23% 0 23%; text-align: center;}

/* calendar */
/*
.calendar a, .event-calendar a {text-decoration: none;}
.calendar td, .calendar th, .event-calendar td, .event-calendar th {border-color: #ddd; padding: 0em;}
.block-event .event-calendar a {display: block;}
.calendar .day-today {background-color: #0000ff;}
.calendar .day-today a {color: #fff;}
.calendar .day-selected {background-color: #0000ff; color: #fff;}
.calendar .header-week {background-color: #ccc;}
.calendar .day-blank {background-color: #ccc;}
.calendar .row-week td a:hover {background-color: #fff; color: #000;}
*/

/* drupal menu restyling */
/*
.block div.menu li a, .block ul.menu li a, div.block-book li a {}
.block div.menu li a:hover, .block div.menu li a:focus, .block ul.menu li a:hover, .block ul.menu li a:focus, div.block-book li a:hover, div.block-book li a:focus {background-color: #f3f3f3;}
.block li a {width: auto;}
.block div.menu ul, .block ul.menu, div.block-book ul {padding: 0 0 0 0em;}
.block div.menu ul ul, .block ul.menu ul, div.block-book ul ul {padding: 0 0 0 3em;}
.block div.menu li li, .block ul.menu li li, .block div.block-book li li {margin-left: 0;}
.node table ul {margin: 0;}

div.menu li.expanded, div.menu li.collapsed, div.menu li.leaf, ul.menu li.expanded, ul.menu li.collapsed, ul.menu li.leaf {list-style-type: none !important; list-style-image: none !important; padding: 0 !important; margin: 0 !important;}
div.block div.menu li a, div.block ul.menu li a, div.block-book li a {display: block; margin: 0; padding: .2em;}
li.a, div.menu li.expanded a, div.menu li.collapsed a, div.menu li.leaf a, ul.menu li.expanded a, ul.menu li.collapsed a, ul.menu li.leaf a {background-repeat: no-repeat; background-position: 0.5em 0.45em; padding-left: 1.2em !important; width: auto; _height: 1px;}
div.menu li.expanded a, ul.menu li.expanded a {background-image: url("icons/menu-expanded.png");}
div.menu li.collapsed a, ul.menu li.collapsed a {background-image: url("icons/menu-collapsed.png");}
div.menu li.leaf a, ul.menu li.leaf a {background-image: url("icons/menu-leaf.png");}

li.leaf {padding: 0 0 0 0.2em; list-style-type: none; list-style-image: none; background: url(images/leaf.png) no-repeat top left;}
li.expanded {padding: 0 0 0 0.2em; list-style-type: none; list-style-image: none; background: url(images/expanded.png) no-repeat top left;}
li.collapsed {padding: 0 0 0 0.2em; list-style-type: none; list-style-image: none; background: url(images/collapsed.png) no-repeat top left;}
*/

/* icons */
a.read-more,
.icon-print,
.icon-add-child-page,
.icon-calendar,
.form-text#edit-name,
.form-password#edit-pass,
.form-text#edit-pass,
.form-text#edit-date {background-repeat: no-repeat; background-position: left center; padding-left: 3em;}

a.read-more { background-image: url("icons/page_white_go.png"); }
.icon-print { background-image: url("icons/printer.png"); }
.icon-add-child-page { background-image: url("icons/page_white_add.png"); }
.icon-calendar { background-image: url("icons/calendar.png"); }
.form-text#edit-name { background-image: url("icons/user.png"); }
.form-password#edit-pass, .form-text#edit-pass { background-image: url("icons/key.png"); }
.form-text#edit-date { background-image: url("icons/calendar.png"); }

/* tables */
tr th, tr.light td, tr.dark td, tr.odd td, tr.even td {padding: 0em .2em 0em .2em;}
tr.light, tr.dark, tr.even, tr.odd {background-color: #fff;}
tr.light .active, tr.dark .active, tr.even .active, tr.odd .active {background-color: #fff;}
/* tr th {border: 1px solid #ddd;} */
tr.watchdog-user {background-color: #ffd; font-size: .7em; }
tr.watchdog-user .active {background-color: #eed; font-size: .7em;}
tr.watchdog-content {background-color: #ddf; font-size: .7em;}
tr.watchdog-content .active {background-color: #cce; font-size: .7em;}
tr.watchdog-page-not-found, tr.watchdog-access-denied {background-color: #dfd; font-size: .7em;}
tr.watchdog-page-not-found .active, tr.watchdog-access-denied .active {background-color: #cec; font-size: .7em;}
tr.watchdog-error {background-color: #ffc9c9; font-size: .7em;}
tr.watchdog-error .active {background-color: #eeb9b9; font-size: .7em;}
tr.watchdog-menu, tr.watchdog-menu {background-color: #fff; font-size: .7em;}